# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment (по умолчанию venv или .venv)
venv/
.venv/

# Django:
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
.env

# PyCharm
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
